<li data-no='<%=no %>'>
<div class="list-buttons">
<strong><img class="user-image" src="/mysite3/assets/images/user.png" /></strong>
<a href="#" data-no='<%=no %>' class="delete-image">ªË¡¶</a>
</div>
<div class="list-contents">
<strong class="list-title"><%=name %></strong>
<p class="list-content"><%=content.replace(/\n/gi, "<br>") %></p>
</div>
</li>